[Unit]
Description=Minecraft Dashboard Web App
After=network.target

[Service]
User=www-data
WorkingDirectory=/opt/Basic-Dashboard/backend
ExecStart=/usr/bin/node dist/index.js
Restart=always
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
